body {
    padding: 0;
    margin: 0;
}

.header {
    display: grid;
    grid-template-columns: 10% 40% 20%;
    gap: 15%;
    padding: 30px;
}

.header-containers {
    display: flex;
    justify-content: space-evenly;
}

.logo {
    height: 60px;
}

.secondary-button {
    color: black;
    border: none;
    background-color: rgb(243, 231, 57);
    padding: 10px;
    border-radius: 10%;
    font-weight: bolder;
}

.secondary-button:hover {
    cursor: pointer;
    background-color: rgb(233, 221, 60);
}

.search {
    justify-content: center;
    align-items: center;
}

.search-bar {
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}

.search-bar > input {
    outline: none;
    border: none;
}

.search-bar:focus-within {
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
}

