body {
    padding: 0;
    margin: 0;
}
.header {
    display: grid;
    grid-template-columns: 10% 40% 20%;
    gap: 15%;
    padding: 30px;
}
.header-containers {
    display: flex;
    justify-content: space-evenly;
}
.logo {
    height: 60px;
}