body {
    padding: 0;
    margin: 0;
}

.header {
    display: grid;
    grid-template-columns: 10% 40% 20%;
    gap: 15%;
    padding: 30px;
    height: 100px;
}

.header-containers {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    height: 80px;
}

.button {
    padding: 10px;
    border-radius: 10%;
    font-weight: bolder;
    border: none;
    height: 50px;
}

.main-button {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.main-button:hover {
    cursor: pointer;
    background-color: rgb(65, 65, 65);
}

.secondary-button {
    color: black;
    background-color: rgb(243, 231, 57);
}

.secondary-button:hover {
    cursor: pointer;
    background-color: rgb(233, 221, 60);
}

.search {
    justify-content: center;
    align-items: center;
}

.search-bar {
    display: flex;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

.search-bar:focus-within {
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
}

.search-input {
    width: 100%;
}

.search-input > input {
    outline: none;
    border: none;
    width: 100%;
}

